In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("IrisSQL").getOrCreate()

25/11/24 20:04:20 WARN Utils: Your hostname, spark resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/11/24 20:04:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/24 20:04:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
file_path = "/home/spark/Downloads/archive/Iris.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

In [4]:
df.createOrReplaceTempView("iris_table")

In [5]:
spark.sql("SELECT * FROM iris_table LIMIT 150").show()

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  9|          4.4|         2.9|          1.4|         0.2|Iris-setosa|
| 10|          4.9|         3.1|          1.5|         0.1|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 12|          4.8|         3.4|          1.6|         0.2|Iris-setosa|
| 13|          4.8|         3.0|          1.4|         0.1|Iris-setosa|
| 14|          4.3|         3.0|          1.1|         0.1|Iris-setosa|
| 15|          5.8|         4.0|          1.2|         0.2|Iris-setosa|
| 16|          5.7|         4.4|          1.5|         0.4|Iris-setosa|
| 17|          5.4|         3.9|          1.3|         0.4|Iris-setosa|
| 18|          5.1|         3.5|          1.4|         0.3|Iris-setosa|
| 19|          5.7|         3.8|          1.7|         0.3|Iris-setosa|
| 20|          5.1|         3.8|          1.5|         0.3|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [6]:
spark.sql("""
SELECT Species, COUNT(*) as count
FROM iris_table
GROUP BY Species
""").show()

+---------------+-----+
|        Species|count|
+---------------+-----+
| Iris-virginica|   50|
|    Iris-setosa|   50|
|Iris-versicolor|   50|
+---------------+-----+

In [7]:
spark.sql("""
SELECT Species, AVG(SepalLengthCm) as avg_sepal_length
FROM iris_table
GROUP BY Species
""").show()

+---------------+-----------------+
|        Species| avg_sepal_length|
+---------------+-----------------+
| Iris-virginica|6.587999999999998|
|    Iris-setosa|5.005999999999999|
|Iris-versicolor|            5.936|
+---------------+-----------------+

In [8]:
spark.sql("""
SELECT *
FROM iris_table
WHERE SepalLengthCm > 5
""").show()

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 15|          5.8|         4.0|          1.2|         0.2|Iris-setosa|
| 16|          5.7|         4.4|          1.5|         0.4|Iris-setosa|
| 17|          5.4|         3.9|          1.3|         0.4|Iris-setosa|
| 18|          5.1|         3.5|          1.4|         0.3|Iris-setosa|
| 19|          5.7|         3.8|          1.7|         0.3|Iris-setosa|
| 20|          5.1|         3.8|          1.5|         0.3|Iris-setosa|
| 21|          5.4|         3.4|          1.7|         0.2|Iris-setosa|
| 22|          5.1|         3.7|          1.5|         0.4|Iris-setosa|
| 24|          5.1|         3.3|          1.7|         0.5|Iris-setosa|
| 28|          5.2|         3.5|          1.5|         0.2|Iris-setosa|
| 29|          5.2|         3.4|          1.4|         0.2|Iris-setosa|
| 32|          5.4|         3.4|          1.5|         0.4|Iris-setosa|
| 33|          5.2|         4.1|          1.5|         0.1|Iris-setosa|
| 34|          5.5|         4.2|          1.4|         0.2|Iris-setosa|
| 37|          5.5|         3.5|          1.3|         0.2|Iris-setosa|
| 40|          5.1|         3.4|          1.5|         0.2|Iris-setosa|
| 45|          5.1|         3.8|          1.9|         0.4|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [9]:
spark.sql("""
SELECT Species, MAX(SepalLengthCm) as max_sepal
FROM iris_table
GROUP BY Species
""").show()

+---------------+---------+
|        Species|max_sepal|
+---------------+---------+
| Iris-virginica|      7.9|
|    Iris-setosa|      5.8|
|Iris-versicolor|      7.0|
+---------------+---------+

In [10]:
spark.sql("""
SELECT *
FROM iris_table
WHERE PetalLengthCm BETWEEN 3 AND 5
""").show()

+---+-------------+------------+-------------+------------+---------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|        Species|
+---+-------------+------------+-------------+------------+---------------+
| 51|          7.0|         3.2|          4.7|         1.4|Iris-versicolor|
| 52|          6.4|         3.2|          4.5|         1.5|Iris-versicolor|
| 53|          6.9|         3.1|          4.9|         1.5|Iris-versicolor|
| 54|          5.5|         2.3|          4.0|         1.3|Iris-versicolor|
| 55|          6.5|         2.8|          4.6|         1.5|Iris-versicolor|
| 56|          5.7|         2.8|          4.5|         1.3|Iris-versicolor|
| 57|          6.3|         3.3|          4.7|         1.6|Iris-versicolor|
| 58|          4.9|         2.4|          3.3|         1.0|Iris-versicolor|
| 59|          6.6|         2.9|          4.6|         1.3|Iris-versicolor|
| 60|          5.2|         2.7|          3.9|         1.4|Iris-versicolor|
| 61|          5.0|         2.0|          3.5|         1.0|Iris-versicolor|
| 62|          5.9|         3.0|          4.2|         1.5|Iris-versicolor|
| 63|          6.0|         2.2|          4.0|         1.0|Iris-versicolor|
| 64|          6.1|         2.9|          4.7|         1.4|Iris-versicolor|
| 65|          5.6|         2.9|          3.6|         1.3|Iris-versicolor|
| 66|          6.7|         3.1|          4.4|         1.4|Iris-versicolor|
| 67|          5.6|         3.0|          4.5|         1.5|Iris-versicolor|
| 68|          5.8|         2.7|          4.1|         1.0|Iris-versicolor|
| 69|          6.2|         2.2|          4.5|         1.5|Iris-versicolor|
| 70|          5.6|         2.5|          3.9|         1.1|Iris-versicolor|
+---+-------------+------------+-------------+------------+---------------+
only showing top 20 rows

In [11]:
spark.sql("""
SELECT Species, SepalLengthCm, PetalLengthCm
FROM iris_table
ORDER BY SepalLengthCm DESC
LIMIT 150
""").show()

+---------------+-------------+-------------+
|        Species|SepalLengthCm|PetalLengthCm|
+---------------+-------------+-------------+
| Iris-virginica|          7.9|          6.4|
| Iris-virginica|          7.7|          6.7|
| Iris-virginica|          7.7|          6.7|
| Iris-virginica|          7.7|          6.9|
| Iris-virginica|          7.7|          6.1|
| Iris-virginica|          7.6|          6.6|
| Iris-virginica|          7.4|          6.1|
| Iris-virginica|          7.3|          6.3|
| Iris-virginica|          7.2|          6.0|
| Iris-virginica|          7.2|          6.1|
| Iris-virginica|          7.2|          5.8|
| Iris-virginica|          7.1|          5.9|
|Iris-versicolor|          7.0|          4.7|
|Iris-versicolor|          6.9|          4.9|
| Iris-virginica|          6.9|          5.7|
| Iris-virginica|          6.9|          5.4|
| Iris-virginica|          6.9|          5.1|
|Iris-versicolor|          6.8|          4.8|
| Iris-virginica|          6.8|          5.5|
| Iris-virginica|          6.8|          5.9|
+---------------+-------------+-------------+
only showing top 20 rows

In [12]:
spark.sql("""
SELECT *
FROM iris_table
WHERE SepalLengthCm > 6 AND PetalWidthCm > 1.5
""").show()

+---+-------------+------------+-------------+------------+---------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|        Species|
+---+-------------+------------+-------------+------------+---------------+
| 57|          6.3|         3.3|          4.7|         1.6|Iris-versicolor|
| 78|          6.7|         3.0|          5.0|         1.7|Iris-versicolor|
|101|          6.3|         3.3|          6.0|         2.5| Iris-virginica|
|103|          7.1|         3.0|          5.9|         2.1| Iris-virginica|
|104|          6.3|         2.9|          5.6|         1.8| Iris-virginica|
|105|          6.5|         3.0|          5.8|         2.2| Iris-virginica|
|106|          7.6|         3.0|          6.6|         2.1| Iris-virginica|
|108|          7.3|         2.9|          6.3|         1.8| Iris-virginica|
|109|          6.7|         2.5|          5.8|         1.8| Iris-virginica|
|110|          7.2|         3.6|          6.1|         2.5| Iris-virginica|
|111|          6.5|         3.2|          5.1|         2.0| Iris-virginica|
|112|          6.4|         2.7|          5.3|         1.9| Iris-virginica|
|113|          6.8|         3.0|          5.5|         2.1| Iris-virginica|
|116|          6.4|         3.2|          5.3|         2.3| Iris-virginica|
|117|          6.5|         3.0|          5.5|         1.8| Iris-virginica|
|118|          7.7|         3.8|          6.7|         2.2| Iris-virginica|
|119|          7.7|         2.6|          6.9|         2.3| Iris-virginica|
|121|          6.9|         3.2|          5.7|         2.3| Iris-virginica|
|123|          7.7|         2.8|          6.7|         2.0| Iris-virginica|
|124|          6.3|         2.7|          4.9|         1.8| Iris-virginica|
+---+-------------+------------+-------------+------------+---------------+
only showing top 20 rows

In [13]:
spark.sql("""
SELECT 
    Species,
    COUNT(*) as toplam_sayi,
    AVG(SepalLengthCm) as ort_sepal,
    AVG(PetalLengthCm) as ort_petal,
    MAX(SepalWidthCm) as maks_sepal_genislik,
    MIN(PetalWidthCm) as min_petal_genislik
FROM iris_table
GROUP BY Species
""").show()

+---------------+-----------+-----------------+---------+-------------------+------------------+
|        Species|toplam_sayi|        ort_sepal|ort_petal|maks_sepal_genislik|min_petal_genislik|
+---------------+-----------+-----------------+---------+-------------------+------------------+
| Iris-virginica|         50|6.587999999999998|    5.552|                3.8|               1.4|
|    Iris-setosa|         50|5.005999999999999|    1.464|                4.4|               0.1|
|Iris-versicolor|         50|            5.936|     4.26|                3.4|               1.0|
+---------------+-----------+-----------------+---------+-------------------+------------------+

In [14]:
spark.sql("""
SELECT *
FROM iris_table
WHERE Species = 'Iris-virginica'
LIMIT 150
""").show()

+---+-------------+------------+-------------+------------+--------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|       Species|
+---+-------------+------------+-------------+------------+--------------+
|101|          6.3|         3.3|          6.0|         2.5|Iris-virginica|
|102|          5.8|         2.7|          5.1|         1.9|Iris-virginica|
|103|          7.1|         3.0|          5.9|         2.1|Iris-virginica|
|104|          6.3|         2.9|          5.6|         1.8|Iris-virginica|
|105|          6.5|         3.0|          5.8|         2.2|Iris-virginica|
|106|          7.6|         3.0|          6.6|         2.1|Iris-virginica|
|107|          4.9|         2.5|          4.5|         1.7|Iris-virginica|
|108|          7.3|         2.9|          6.3|         1.8|Iris-virginica|
|109|          6.7|         2.5|          5.8|         1.8|Iris-virginica|
|110|          7.2|         3.6|          6.1|         2.5|Iris-virginica|
|111|          6.5|         3.2|          5.1|         2.0|Iris-virginica|
|112|          6.4|         2.7|          5.3|         1.9|Iris-virginica|
|113|          6.8|         3.0|          5.5|         2.1|Iris-virginica|
|114|          5.7|         2.5|          5.0|         2.0|Iris-virginica|
|115|          5.8|         2.8|          5.1|         2.4|Iris-virginica|
|116|          6.4|         3.2|          5.3|         2.3|Iris-virginica|
|117|          6.5|         3.0|          5.5|         1.8|Iris-virginica|
|118|          7.7|         3.8|          6.7|         2.2|Iris-virginica|
|119|          7.7|         2.6|          6.9|         2.3|Iris-virginica|
|120|          6.0|         2.2|          5.0|         1.5|Iris-virginica|
+---+-------------+------------+-------------+------------+--------------+
only showing top 20 rows

In [15]:
spark.sql("""
SELECT 
    Species,
    COUNT(*) as sayi,
    COUNT(*) * 100.0 / (SELECT COUNT(*) FROM iris_table) as yuzde
FROM iris_table
GROUP BY Species
""").show()

+---------------+----+-----------------+
|        Species|sayi|            yuzde|
+---------------+----+-----------------+
| Iris-virginica|  50|33.33333333333333|
|    Iris-setosa|  50|33.33333333333333|
|Iris-versicolor|  50|33.33333333333333|
+---------------+----+-----------------+

In [16]:
spark.sql("""
SELECT *
FROM iris_table
WHERE SepalLengthCm > 7 OR PetalWidthCm > 2
""").show(150)

+---+-------------+------------+-------------+------------+--------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|       Species|
+---+-------------+------------+-------------+------------+--------------+
|101|          6.3|         3.3|          6.0|         2.5|Iris-virginica|
|103|          7.1|         3.0|          5.9|         2.1|Iris-virginica|
|105|          6.5|         3.0|          5.8|         2.2|Iris-virginica|
|106|          7.6|         3.0|          6.6|         2.1|Iris-virginica|
|108|          7.3|         2.9|          6.3|         1.8|Iris-virginica|
|110|          7.2|         3.6|          6.1|         2.5|Iris-virginica|
|113|          6.8|         3.0|          5.5|         2.1|Iris-virginica|
|115|          5.8|         2.8|          5.1|         2.4|Iris-virginica|
|116|          6.4|         3.2|          5.3|         2.3|Iris-virginica|
|118|          7.7|         3.8|          6.7|         2.2|Iris-virginica|
|119|          7.7|         2.6|          6.9|         2.3|Iris-virginica|
|121|          6.9|         3.2|          5.7|         2.3|Iris-virginica|
|123|          7.7|         2.8|          6.7|         2.0|Iris-virginica|
|125|          6.7|         3.3|          5.7|         2.1|Iris-virginica|
|126|          7.2|         3.2|          6.0|         1.8|Iris-virginica|
|129|          6.4|         2.8|          5.6|         2.1|Iris-virginica|
|130|          7.2|         3.0|          5.8|         1.6|Iris-virginica|
|131|          7.4|         2.8|          6.1|         1.9|Iris-virginica|
|132|          7.9|         3.8|          6.4|         2.0|Iris-virginica|
|133|          6.4|         2.8|          5.6|         2.2|Iris-virginica|
|136|          7.7|         3.0|          6.1|         2.3|Iris-virginica|
|137|          6.3|         3.4|          5.6|         2.4|Iris-virginica|
|140|          6.9|         3.1|          5.4|         2.1|Iris-virginica|
|141|          6.7|         3.1|          5.6|         2.4|Iris-virginica|
|142|          6.9|         3.1|          5.1|         2.3|Iris-virginica|
|144|          6.8|         3.2|          5.9|         2.3|Iris-virginica|
|145|          6.7|         3.3|          5.7|         2.5|Iris-virginica|
|146|          6.7|         3.0|          5.2|         2.3|Iris-virginica|
|149|          6.2|         3.4|          5.4|         2.3|Iris-virginica|
+---+-------------+------------+-------------+------------+--------------+

In [17]:
spark.sql("""
SELECT *
FROM iris_table
WHERE SepalLengthCm > (SELECT AVG(SepalLengthCm) FROM iris_table)
""").show()

+---+-------------+------------+-------------+------------+---------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|        Species|
+---+-------------+------------+-------------+------------+---------------+
| 51|          7.0|         3.2|          4.7|         1.4|Iris-versicolor|
| 52|          6.4|         3.2|          4.5|         1.5|Iris-versicolor|
| 53|          6.9|         3.1|          4.9|         1.5|Iris-versicolor|
| 55|          6.5|         2.8|          4.6|         1.5|Iris-versicolor|
| 57|          6.3|         3.3|          4.7|         1.6|Iris-versicolor|
| 59|          6.6|         2.9|          4.6|         1.3|Iris-versicolor|
| 62|          5.9|         3.0|          4.2|         1.5|Iris-versicolor|
| 63|          6.0|         2.2|          4.0|         1.0|Iris-versicolor|
| 64|          6.1|         2.9|          4.7|         1.4|Iris-versicolor|
| 66|          6.7|         3.1|          4.4|         1.4|Iris-versicolor|
| 69|          6.2|         2.2|          4.5|         1.5|Iris-versicolor|
| 71|          5.9|         3.2|          4.8|         1.8|Iris-versicolor|
| 72|          6.1|         2.8|          4.0|         1.3|Iris-versicolor|
| 73|          6.3|         2.5|          4.9|         1.5|Iris-versicolor|
| 74|          6.1|         2.8|          4.7|         1.2|Iris-versicolor|
| 75|          6.4|         2.9|          4.3|         1.3|Iris-versicolor|
| 76|          6.6|         3.0|          4.4|         1.4|Iris-versicolor|
| 77|          6.8|         2.8|          4.8|         1.4|Iris-versicolor|
| 78|          6.7|         3.0|          5.0|         1.7|Iris-versicolor|
| 79|          6.0|         2.9|          4.5|         1.5|Iris-versicolor|
+---+-------------+------------+-------------+------------+---------------+
only showing top 20 rows

In [18]:
spark.sql("""
SELECT Species, SepalLengthCm, PetalLengthCm
FROM iris_table
ORDER BY Species ASC, SepalLengthCm DESC
LIMIT 150
""").show()

+-----------+-------------+-------------+
|    Species|SepalLengthCm|PetalLengthCm|
+-----------+-------------+-------------+
|Iris-setosa|          5.8|          1.2|
|Iris-setosa|          5.7|          1.5|
|Iris-setosa|          5.7|          1.7|
|Iris-setosa|          5.5|          1.4|
|Iris-setosa|          5.5|          1.3|
|Iris-setosa|          5.4|          1.7|
|Iris-setosa|          5.4|          1.5|
|Iris-setosa|          5.4|          1.3|
|Iris-setosa|          5.4|          1.7|
|Iris-setosa|          5.4|          1.5|
|Iris-setosa|          5.3|          1.5|
|Iris-setosa|          5.2|          1.5|
|Iris-setosa|          5.2|          1.4|
|Iris-setosa|          5.2|          1.5|
|Iris-setosa|          5.1|          1.5|
|Iris-setosa|          5.1|          1.4|
|Iris-setosa|          5.1|          1.4|
|Iris-setosa|          5.1|          1.5|
|Iris-setosa|          5.1|          1.7|
|Iris-setosa|          5.1|          1.5|
+-----------+-------------+-------------+
only showing top 20 rows